<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/Choose.css">
    <title>Document</title>
</head>
<body>
    <a href="Details.html">
        <div class="Crop_rec">
            <img src="/images/Crop_Rec.jpg" alt="">
            <p>Crop Recommendation</p>
        </div>
    </a>
    <a href="Fertilizer_details.html">
        <div class="Fertilizer">
            <img src="/images/fertilizer.jpg" alt="">
            <p>Fertilizer Recommendation</p>
        </div>
    </a>
</body>
</html>